.button {
  padding: 10px 20px;
  width: 200px;
  color: #fff;
  background-color: #045b3a;
  border-color: #043a25;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 250px;
}
.task_contaner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

.form_container {
  margin-top: 50px;
}

.form_title {
  text-align: center;
}

.form_title a {
  color: #020202;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: #656565;
  padding-bottom: 20px;
}

.form_container  {
  margin-top: 25px;
  padding: 30px 60px 30px 30px;
  width: 850px;
  height: auto;
  box-shadow: 1px 15px 25px 1px #d5d5d5;
  border-radius: 10px;
}

.form_container form input,
textarea {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid rgba(39, 38, 38, 0.3);  
}

  